$text-size: 14px;
$text-color: #555;
$border-color: #88888888;

.image-caption {
  font-family: "Times New Roman", Times, serif;
  font-size: $text-size;
  color: $text-color;
  margin-top: 5px;
  margin-left: 6px;
  padding-left: 5px;
  border-left: 2px solid $border-color;
}
